@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model int

<div class="btn-group gap-1 gap-1" role="group">

    <a asp-action="Edit"
    asp-route-id="@Model"
       class="btn btn-sm btn-modificar">
        📝
    </a>
    <br>
    <a asp-action="Details"
    asp-route-id="@Model"
    class="btn btn-sm btn-detalles">
        <i class="bi bi-search"></i>
         👁️ 
    </a>
    <br>
    @if (User.IsInRole("Administrador"))
    {
        <a asp-action="Delete"
        asp-route-id="@Model"
        class="btn btn-sm btn-eliminar">
            🗑️
        </a>
    }
</div>