@model Sistema_Gestor_Eventos_Tlahuac.Models.Catalogos.Lugar

@{
    ViewData["Title"] = "Crear un lugar";
}

<partial name="_Header_Vistas" />
<hr />
<div class="row justify-content-center">

    <div class="col-lg-8">

        <div class="card shadow-sm">

            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Colonia" class="control-label"></label>
                        <input asp-for="Colonia" class="form-control" />
                        <span asp-validation-for="Colonia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Seccion" class="control-label"></label>
                        <input asp-for="Seccion" class="form-control" />
                        <span asp-validation-for="Seccion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Latitud" class="control-label"></label>
                        <input asp-for="Latitud" class="form-control" />
                        <span asp-validation-for="Latitud" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Longitud" class="control-label"></label>
                        <input asp-for="Longitud" class="form-control" />
                        <span asp-validation-for="Longitud" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                        </label>
                    </div>
                    <div class="mt-4 d-flex justify-content-end gap-2">
                        <button type="submit" class="btn btn-dorado">
                            Crear
                        </button>
                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
