html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn-crear {
    background-color: #800020;
    color: white;
    border-color: #800020;
}

.btn-crear:hover {
    background-color: #66001a;
    border-color: #66001a;
    color: white;
}


.btn-eliminar {
    background-color: #4A0010;
    color: white;
    border-color: #4A0010;
}

.btn-eliminar:hover {
    background-color: #35000B;
    border-color: #35000B;
    color: white;
}

.btn-detalles {
    background-color: #6A0D25;
    color: white;
    border-color: #6A0D25;
}

.btn-detalles:hover {
    background-color: #55091D;
    border-color: #55091D;
    color: white;
}

.btn-modificar {
    background-color: #800520;
    color: white;
    border-color: #800520;
}

.btn-modificar:hover {
    background-color: #651726;
    border-color: #651726;
    color: white;
}

.btn-dorado {
    background-color: #C9A227;
    border-color: #C9A227;
    color: white;
}

.btn-dorado:hover {
    background-color: #E0B84C;
    border-color: #E0B84C;
    color: black;
}

