@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">
        Bienvenido a los eventos que inspiran,
        <br>unen y mueven a nuestra comunidad.
    </h1>
    <br><br>
    <h3>
        En la alcaldía Tláhuac se realizan diferentes eventos sobre nuestros talleres, <br> conócenos y únete a nosotros.
    </h3>
    <br><br>
    <p>Muchos de nuestros cursos te están esperando </p>

    <p>Se puede contactar con nosotros por medio de:</p>
    <p>Teléfono: 55 5862 3250</p>
    <p>Dirreccion: Av. Tláhuac s/n, esquina Nicolás Bravo, Bo. La Asunción, CP. 13000, Alcaldía Tláhuac, CDMX.</p></>

</div>