@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<partial name="_Header_Vistas" />

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No tienes acceso para esta pagina.</p>
</header>
